@import '../../variables.scss';

.footer {
  width: 100%;
  height: 125px;
  background-color: $green-100;

  display: flex;
  justify-content: center;
  align-items: center;

  &_inner {
    width: 90%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_links {
      display: flex;
      gap: 20px;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1/1;
        }
      }
    }

    p {
      font-family: $worksans-font;
      font-weight: $font-regular;
      font-size: 20px;
      color: $white-100;
    }
  }
}

@media screen and (max-width: 655px) {
  .footer {
    height: auto;

    &_inner {
      padding-block: 31px;
      width: 100%;
      flex-wrap: wrap;

      &_links {
        gap: 15px;
        margin: 0 auto;
      }

      p {
        margin-top: 20px;
        width: 100%;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 390px) {
    .footer {
      height: auto;
  
      &_inner {
        padding-block: 31px;
        width: 100%;
        flex-wrap: wrap;
  
        &_links {
          gap: 15px;
          margin: 0 auto;
        }
  
        p {
          font-size: 16px;
        }
      }
    }
  }
  