$crimson-text-font:  "Crimson Text", serif;
$worksans-font: "Work Sans", sans-serif;

$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;

$green-100: #74C69D;
$white-100: #FFFFFF;
$dark-100: #212529;


$green-75: rgba(116, 198, 157, 0.75);
$white-75: rgba(255, 255, 255, 0.75);
$dark-75: rgba(33, 37, 41, 0.75);

$green-50: rgba(116, 198, 157, 0.5);
$white-50: rgba(255, 255, 255, 0.5);
$dark-50: rgba(33, 37, 41, 0.5);